* {
  font-family:
}

body {
  background-color: #FFFFFF;
}

#all {
  position: relative;
  background-color: white;
}

#introduction {
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  background-color: #3F681C;
  color: #FB6542;
}
.jumbotron{
  text-align: center;
  border-style: solid;
  border-color: #3F681C;
  padding: 5px;
  margin: auto;
  max-width: 95%;
  overflow: hidden;
  background-image: url("../img/javascript2.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
#jumbotronimage {
  max-width: 100%;
}
#quiz {
  background-color: #3F681C;
  width: 90%;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

#quiz-questions {
  background-color: #3F681C;
  border-radius: 5px;
  padding: 10px;
}

#questions-left {
  background-color: #FFFFFF;
  color: #FB6542;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#questions-right {
  background-color: #FFFFFF;
  color: #FB6542;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#forms {
  background-color: #3F681C;
  color: #FB6542;
}

#quiz-results {
  background-color: #3F681C;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: none;
}

#back {
  background-color: #3F681C;
}

#results {
  text-align: center;
  border-radius: 3px;
  background-color: #3F681C;
  margin-bottom: 5px;
}

#footer {
  border-radius: 5px;
  background-color: #3F681C;
  padding: 40px;
}

#footer-left {
  color: #FFFFFF;
}

#footer-center {
  color: #FFFFFF;
}

#footer-right {
  color: #FFFFFF;
}
